<%- include ('partials/top') %>
  <div class="row space">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
        <h3 class="page-title">Waste Offenders</h3>
        <div>
          <a href="/admin/offenders/new" class="btn btn-primary">Add Offender <i class="fa fa-plus-circle ml-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 card">
      <div class="card-body">
      <% if (success_msg && success_msg.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><%= success_msg %></strong> 
        </div>
        <script>
          $(".alert").alert();
        </script>
      <% } %>
      <% if (error_msg && error_msg.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><%= error_msg %></strong> 
        </div>
        <script>
          $(".alert").alert();
        </script>
      <% } %>
      <div class="w-100 d-block d-sm-flex justify-content-between align-items-center mb-4 pb-1">
        <form method="GET" action="/admin/offenders" class="form-inline ">
          <label>Show <input required type="number" class="form-control font-weight-bold text-right mx-1 d-inline-block" name="limit" value='<%= limit_size %>' style="width: 62px;"> Entries
          </label>
        </form>
        <form id="search-form" method="GET" action="/admin/offenders?limit=<%= limit_size %>" class="form-inline">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
            <input type="text" class="form-control d-inline-block" name="search" placeholder="by name...">
          </div>
        </form>
      </div>
     
      <table class="table table-striped">
        <thead class="font-weight-bold">
          <tr>
            <td>#</td>
            <td>Fullname</td>
            <td>Phone</td>
            <td>Offense</td>
            <td>Date of Offense</td>
            <td>Photo</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (totalDocuments == 0) { %>
            <tr style="background-color: inherit;">
              <td colspan="11" class="bg-light">
                <div class="py-2 text-center">
                  <h4 class="lead"><i class="fa fa-search-minus" aria-hidden="true"></i> No Result(s) Found</h4>
                </div>
              </td>
            </tr>
          <% } %>
          <% offenders.forEach((m) => { %>
            <tr>
              <td><%= m.serial_number %></td>
              <td><%= m.fullname %></td>
              <td><%= m.phone %></td>
              <td><%= m.offense %></td>
              <td><%= m.date_of_offense.toLocaleString("fr") %></td>
              <td><img src='<%= m.image || "/images/dummy-person.jpg" %>' class="table-img-circle"></td>
              <td>
                <div class="action-group-buttons">
                  <a class="mb-1 mr-2 btn btn-sm btn-info" href='<%= "/admin/offenders/update/" + m.serial_number %>'><i class="fa fa-binoculars"></i> View/Edit Details</a>
                  <a onclick="return confirm('Do you want to remove record?');"  class="mb-1 mr-2 btn btn-sm btn-danger" href='<%= "/admin/offenders/remove/" + m.serial_number %>'><i class="fa fa-minus-square"> Remove</i></a>
                </div>
              </td>
              
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="d-sm-flex justify-content-between align-items-center border-top pt-2 mt-2">
        <div class="">
          <p>Showing <%= totalDocuments == 0 ? 0 : (offset + 1) %> to <%= ( (offset + limit_size > totalDocuments) ? totalDocuments : offset + limit_size )  %> of <%= totalDocuments %> entries</p>
        </div>
        <div>
          <ul class="pagination">
            <li class='page-item <%= (currentPage == 1) ? "disabled" : "" %>'>
              <a href='/admin/offenders?<%= searchTerm ? "search=" + searchTerm + "&" : "" %>page=1&limit=<%= limit_size %>' class="page-link font-weight-bold">&lt;&lt;</a>
            </li>
            <li class='page-item <%= (currentPage == 1) ? "disabled" : "" %>'>
              <a href='/admin/offenders?<%= searchTerm ? "search=" + searchTerm + "&" : "" %>page=<%= (currentPage == 1) ? 1 : (currentPage - 1) %>&limit=<%= limit_size %>' class="page-link"><small>prev</small></a>
            </li>

            <% if (currentPage > 0) { %>
              <% for(let p = currentPage - 2, count = 0; p <= currentPage && count <= 1 ; p++, count++) { %>
                <% if (count == 0 && p > 1) { %>
                  <li class="page-item disabled">
                    <a href='javascript:void()' class='page-link'>...</a>
                  </li>
                <% } else if (p > 0) { %>
                  <li class='page-item <%= (p == currentPage) ? "active" : "" %>'>
                    <a href='/admin/offenders?<%= searchTerm ? "search=" + searchTerm + "&" : "" %>page=<%= p %>&limit=<%= limit_size %>' class='page-link'><%= p %></a>
                  </li>
                <% } %>
              <% } %>
            <% } %>

            <% if (currentPage <= totalNumberOfPages) { %>
              <% for(let p = currentPage, count = 0; p <= totalNumberOfPages && count <= 2; p++, count++) { %>
                <% if (count == 2 && p <= totalNumberOfPages ) { %>
                  <li class="page-item disabled">
                    <a href='javascript:void()' class='page-link'>...</a>
                  </li>
                <% } else { %>
                  <li class='page-item <%= (p == currentPage) ? "active" : "" %>'>
                    <a href='/admin/offenders?<%= searchTerm ? "search=" + searchTerm + "&" : "" %>page=<%= p %>&limit=<%= limit_size %>' class='page-link'><%= p %></a>
                  </li>
                <% } %>
              <% } %>
            <% } %>
            <li class='page-item <%= totalDocuments == 0 ? "disabled" : (currentPage == totalNumberOfPages) ? "disabled" : "" %>'>
              <a href='/admin/offenders?<%= searchTerm ? "search=" + searchTerm + "&" : "" %>page=<%= (currentPage == totalNumberOfPages ) ? totalNumberOfPages : (currentPage + 1) %>&limit=<%= limit_size %>' class="page-link"><small>next</small></a>
            </li>
            <li class='page-item <%= totalDocuments == 0 ? "disabled" : (currentPage == totalNumberOfPages) ? "disabled" : "" %>'>
              <a href='/admin/offenders?<%= searchTerm ? "search=" + searchTerm + "&" : "" %>page=<%= totalNumberOfPages %>&limit=<%= limit_size %>' class="page-link font-weight-bold">&gt;&gt;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    </div>
  </div>
</main>
</div>

</div>
  

<%- include ('partials/bottom') %>